<main class="container card-container">
    <section class="card">
        <div class="animal-img">
            <img class="img1" src={{image}}>
        </div>
    </section>

    <section class="card">
        YOU FOUND IT!
    </section>
</main>

<a href="/game/2">
    <button class="next-btn" id="next-btn">
        <i class="fas fa-play"></i>NEXT
    </button>
</a>