<main class="container card-container">
  <h1>IT'S A CAT!</h1>
  <section class="card">
    <div class="animal-img">
      <img class="img1" src={{imageNormal}} alt={{correctAnswer}}>
    </div>
  </section>
</main>
{{>nxt-btn}}