<main class="container">
  <section class="instructions">
    <h2>Let's Play!</h2>
    <h3><u>Rules</u></h3>
    <p>1. Guess which animal is in the jumbled image.</p>
    <p>2. Select one option you think is correct.</p>
    <p>3. Click the option and wait for the answer to be revealed.</p>
  </section>
  <a href="/game/1">
    <button><i class="fas fa-play"></i>PLAY</button>
  </a>
</main>
