<main class="container">
  <section class="instructions">
    <h2>Let's Play!</h2>
    <h3><u>Rules</u></h3>
    <p>Guess the image</p>
    <p>Guess the image</p>
    <p>Guess the image</p>
  </section>
  <a href="/game/1">
    <button><i class="fas fa-play"></i>PLAY</button>
  </a>
</main>
